<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
    <ion-icon (click)="login()" name="log-in-outline" style="zoom: 1.7; margin-right: 6px;" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label>Nama</ion-label>
          <ion-input [(ngModel)]="profile.name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>No HP</ion-label>
          <ion-input [(ngModel)]="profile.phone"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Alamat</ion-label>
          <ion-input [(ngModel)]="profile.address"></ion-input>
        </ion-item>
      </ion-card-content>
      <ion-row>
        <ion-col>
          <ion-button expand="full" (click)="save()">Simpan</ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>
